@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&family=Open+Sans:wght@700&family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');

*{
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//color
$primary: #EF7F19;
$primary-light: #f28c2c;
$primary-super-light: #FAF2EA;
$secondary: #42BDEA;
$secondary-dark: #34B0DD;
$danger:#D0522C;
$danger-dark: #BF4925;
$bg-purple: #E0EAFF;
$text-content: #485A6A;
$text-dark: #3F444A;
$text-gray: #BEBEBE;
$text-light: #ffffff;

// font Size
$font-s: 12px;
$font-m: 14px;
$font-ml:16px;
$font-l: 18px;
$font-g: 24px;
$font-gl: 48px;
$weight-s: 300;
$weight-m: 400;
$weight-l: 700;

//animate
%transition {
    transition: all .2s ease;
}

body{
    background-color: $primary-super-light !important;
}

// .page-sidebar-menu{
//     li {
//         a {
//             @extend %transition;
//             &:hover{
//                 background-color: lighten($primary-light,30%) !important;
//                 color: $primary !important;
//             }
//             &:active{
//                 background-color: lighten($primary-light,30%) !important;
//                 color: $primary !important;
//             }      
//         }
//     }
// }

#chartdiv {
    width: 100%;
    height: 500px;
    max-width: 100%
}

.page-title{
    .title{
        font-size: $font-l ;
        font-weight: $weight-m;
        color: $primary ;
        margin: 0 0 20px 0;
    }
}

.portlet-title{
    .widget-thumb-click{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        @extend %transition;
        &:hover{
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
        .widget-thumb {
            position: relative;
            padding-bottom: 50px;
            .widget-thumb-wrap{
                display: flex;
                justify-content: space-between;
                .widget-thumb-body-stat{
                    font-size: $font-gl;
                    .unit{
                        font-size: $font-l;
                    }
                }
            }
            .widget-thumb-heading{
                font-size: $font-ml;
                font-weight: $weight-m;
                color: $text-dark;
            }
        }
        .bg-orange{
            background-color: lighten( $primary-light, 30%);
        }
        .bg-green-jungle{
            background-color: darken( #E5F7E2, 10%);
        }
        .bg-red{
            background-color: lighten( $danger, 30%);
        }
        .go-btn{
            position: absolute;
            display: block;
            width: 100%;
            height: 35px;
            bottom: 0;
            left: 0;
            border: 1px solid $primary;
            border-radius: 0 0 3px 3px !important;
            background-color: $primary-light;
            text-decoration: none;
            @extend %transition;
            &:hover{
                background-color: $primary;
            }
            .title{
                font-size: $font-m;
                font-weight: $weight-m;
                color: $text-light;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-5%, -50%);
            }
        }
    }
}

.caption{
    .caption-subject{
        font-size: $font-m;
        font-weight: $weight-m;
        color: $text-dark;
    }
}

.actions{
    .form-inline{
        display: flex;
        align-items: center;
    }
}

.search-btn{
    font-size: $font-m;
    font-weight: $weight-m;
    padding: 6px;
    background-color: $secondary;
    border: 1px solid $secondary-dark;
    border-radius: 3px !important;
    color: $text-light;
    @extend %transition;
    &:hover{
        background-color: $secondary-dark;
    }
}
.add-btn,.import-btn{
    text-decoration: none;
    background-color: $primary-light;
    border: 1px solid $primary;
    color: $text-light;
    border-radius: 3px !important;
    padding: 6px;
    margin-right: 5px;
    display: block;
    @extend %transition;
    &:hover{
        background-color: $primary;
        color: $text-light;
        text-decoration: none;
    }
}
.edit-btn{
    font-size: $font-m;
    font-weight: $weight-m;
    padding: 4px 6px;
    background-color: $secondary;
    border: 1px solid $secondary-dark;
    border-radius: 3px !important;
    color: $text-light;
    text-decoration: none;
    @extend %transition;
    &:hover{
        background-color: $secondary-dark;
        color: $text-light;
        text-decoration: none;
    }
}

.delet-btn{
    font-size: $font-m;
    font-weight: $weight-m;
    padding: 4px 6px;
    background-color: $danger;
    border: 1px solid $danger-dark;
    border-radius: 3px !important;
    color: $text-light;
    text-decoration: none;
    @extend %transition;
    &:hover{
        background-color: $danger-dark;
        color: $text-light;
        text-decoration: none;
    }
}

.tag{
    background-color: $text-content;
    padding: 4px 6px;
    color: $text-light;
    border-radius: 3px !important;
}

table{
    thead{
        .feature{
            width: 150px;
            text-align: center;
        }
    }
}

.dialogue-section{
    .dialogue-head{
        width: 100%;
        height: 80vh;
        overflow-y: auto;
        background-color: $bg-purple;
        padding: 15px;
        .real-time{
            text-align: center;
            background-color: rgba(102, 102, 102, 0.127);;
            color: $text-light;
            display: block;
            margin: 0 auto;
            width: 8%;
            padding: 4px 6px;
            border-radius: 50px !important;
        }
        .request-dialogue{
            margin: 20px 0;
            .user{
                display: flex;
                align-items: flex-start;
                .user-avatar{
                    width: 50px;
                    height: 50px;
                    margin-right: 15px;
                }
                .dialogue-content{
                    background-color: $text-light;
                    color: $text-dark;
                    padding: 15px;
                    border-radius: 10px !important;
                    position: relative;
                    max-width: 34%;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 15px;
                        height: 15px;
                        top: 20%;
                        left: -10px;
                        border-style: solid;
                        border-width: 7.5px 13.0px 7.5px 0;
                        border-color: transparent $text-light transparent transparent;     
                    }
                    p{
                        margin: 0;
                    }
                }
                .dialogue-time{
                    align-self: flex-end;
                    font-size: $font-s;
                    margin-left: 15px;
                }
            }
        }
        .response-dialogue{
            .user{
                .user-avatar{
                    width: 50px;
                    height: 50px;
                    float: right;
                    margin-left: 15px;
                }
                .dialogue{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    margin: 20px 65px 0 0;
                    .dialogue-content{
                        background-color: $text-light;
                        color: $text-dark;
                        padding: 15px;
                        border-radius: 10px !important;
                        position: relative;
                        &::before{
                            position: absolute;
                            content: "";
                            width: 15px;
                            height: 15px;
                            top: 20%;
                            right: -10px;
                            border-style: solid;
                            border-width: 7.5px 0 7.5px 13.0px;
                            border-color: transparent transparent transparent $text-light;  
                        }
                        p{
                            margin: 0;
                        }
                        .dialogue-info{
                            margin-top: 10px;
                            display: flex;
                            align-items: flex-start;
                            .activity{
                                border-left: 2px solid $text-gray;
                                padding-left: 10px;
                                .title{
                                    font-size: $font-ml;
                                    font-weight: $weight-l;
                                }
                                .content{
                                    p{
                                        margin: 5px 15px 0 0;
                                        text-align: justify;
                                        font-size: $font-m;
                                        font-weight: $weight-m;
                                        max-width: 300px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 3;
                                        -webkit-box-orient: vertical;
                                    }
                                }
                            }
                            .thumbnail{
                                img{
                                    max-width: 100px;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    .dialogue-text{
                        background-color: $text-light;
                        color: $text-dark;
                        padding: 15px;
                        border-radius: 10px !important;
                        position: relative;
                        max-width: 34%;
                        p{
                            margin: 0;
                        }
                    }
                    .dialogue-time{
                        align-self: flex-end;
                        font-size: $font-s;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .dialogue-body{
        width: 100%;
        height: 20vh;
        background-color: $text-light;
        .message-content{
            padding: 20px;
            display: flex;
            .message-send{
                width: 90%;
                position: relative;
                .message-input-actions{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 13px;
                    cursor: pointer;
                }
            }
            .message-feature{
                width: 10%;
                .send{
                    padding: 0 0 0 20px;
                    margin-bottom: 10px;
                    .submit-btn{
                        width: 100%;
                        text-decoration: none;
                        background-color: $primary-light;
                        border: 1px solid $primary;
                        color: $text-light;
                        border-radius: 3px !important;
                        padding: 6px;
                        margin-right: 5px;
                        display: block;
                        @extend %transition;
                        &:hover{
                            background-color: $primary;
                            color: $text-light;
                            text-decoration: none;
                        }
                    }
                }
                .customer-turn{
                    padding: 0 0 0 20px;
                    .refer-btn{
                        width: 100%;
                        text-decoration: none;
                        background-color: $secondary;
                        border: 1px solid $secondary-dark;
                        color: $text-light;
                        border-radius: 3px !important;
                        padding: 6px;
                        margin-right: 5px;
                        display: block;
                        @extend %transition;
                        &:hover{
                            background-color: $secondary-dark;
                            color: $text-light;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.feature-section{
    width: 100%;
    height: 100vh;
    background-color: $text-light;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 18px;
    .portlet-title{
        .caption{
            .media{
                display: flex;
                align-items: center;
                .media-object{
                    margin-right: 10px;
                }
                .media-heading{
                    font-size: $font-ml;
                    font-weight: $weight-m;
                }
            }
        }
    }
    .portlet-body{
        .icon-btn{
            width: 100%;
        }
        .list-items{
            border-bottom: 1px solid #eee;
            margin: 15px 0;
            padding: 0 0 15px 0;
            .info{
                display:inline-block;
                width: 70px;
            }
        }
    }
    .feature-btn{
        display: flex;
        justify-content: flex-end;
        .return-btn{
            width: 25%;
            text-decoration: none;
            background-color: $text-content;
            border: 1px solid $text-dark;
            color: $text-light;
            border-radius: 3px !important;
            padding: 6px;
            margin-right: 5px;
            display: block;
            @extend %transition;
            &:hover{
                background-color: $text-dark;
                color: $text-light;
                text-decoration: none;
            }
        }
        .submit-btn{
            width: 25%;
            text-decoration: none;
            background-color: $primary-light;
            border: 1px solid $primary;
            color: $text-light;
            border-radius: 3px !important;
            padding: 6px;
            margin-right: 5px;
            display: block;
            @extend %transition;
            &:hover{
                background-color: $primary;
                color: $text-light;
                text-decoration: none;
            }
        }
    }
}

.modal{
    .modal-content{
        .modal-header{
            .modal-title{
                font-size: $font-ml;
                font-weight: $weight-m;
            }
        }
        .modal-body{
            .media-content{
                .media{
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    border-radius: 6px;
                    margin-top: 20px;
                    .media-info{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 15px;
                        .media-title{
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
            .dialogue-content{
                .dialogue{
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    border-radius: 6px;
                    margin-top: 20px;
                    .dialogue-info{
                        padding: 15px;
                        .source{
                            display: flex;
                            align-items: flex-start;
                            p{
                                margin: 0;
                                a{
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }
                        .activity{
                            display: flex;
                            align-items: flex-start;
                            margin-top: 10px;
                            .activity-content{
                                margin-left: 20px;
                                .title{
                                    font-size: $font-ml;
                                    font-weight: $weight-l;
                                }
                                p{
                                    margin: 5px 15px 0 0;
                                    text-align: justify;
                                    font-size: 14px;
                                    font-weight: 400;
                                    max-width: 300px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                }
                            }
                            .thumbnail{
                                img{
                                    max-width: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .modal-footer{
            display: flex;
            justify-content: flex-end;
            .close-btn{
                width: 10%;
                text-decoration: none;
                background-color: $text-content;
                border: 1px solid $text-dark;
                color: $text-light;
                border-radius: 3px !important;
                padding: 6px;
                margin-right: 5px;
                display: block;
                @extend %transition;
                &:hover{
                    background-color: $text-dark;
                    color: $text-light;
                    text-decoration: none;
                }
            }
            .submit-btn{
                width: 10%;
                text-decoration: none;
                background-color: $primary-light;
                border: 1px solid $primary;
                color: $text-light;
                border-radius: 3px !important;
                padding: 6px;
                margin-right: 5px;
                display: block;
                @extend %transition;
                &:hover{
                    background-color: $primary;
                    color: $text-light;
                    text-decoration: none;
                }
            }
        }
    }
}