@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&family=Open+Sans:wght@700&family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal .modal-footer .submit-btn, .modal .modal-footer .close-btn, .modal .modal-body .btn-file, .feature-section .feature-btn .submit-btn, .feature-section .feature-btn .return-btn, .dialogue-section .dialogue-body .message-content .message-feature .customer-turn .refer-btn, .dialogue-section .dialogue-body .message-content .message-feature .send .submit-btn, .delet-btn, .edit-btn, .add-btn, .import-btn, .search-btn, .portlet-body table tbody tr td .assign .reply-btn, .portlet-title .widget-thumb-click .go-btn, .portlet-title .widget-thumb-click, body .user-content .form-actions .close-btn, body .user-content .form-actions .submit-btn {
  transition: all 0.2s ease;
}

body {
  background-color: #FAF2EA !important;
}
body .logo {
  margin-top: 200px;
}
body .logo a img {
  display: block;
  width: 100px;
  margin: 0 auto;
}
body .user-content {
  background-color: #ffffff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  width: 400px;
  margin: 30px auto 10px;
  padding: 20px 30px 30px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
body .user-content .form-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #EF7F19;
  margin-bottom: 45px;
}
body .user-content .register-form .form-group {
  display: flex;
  align-items: center;
}
body .user-content .register-form .form-group .control-label {
  width: 30%;
  font-size: 14px;
  font-weight: 400;
  color: #485A6A;
}
body .user-content .register-form .form-group .user-info {
  width: 70%;
  font-size: 14px;
  font-weight: 400;
  color: #485A6A;
}
body .user-content .form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .user-content .form-actions .submit-btn {
  margin: 20px 0;
  width: 100%;
  text-decoration: none;
  background-color: #f28c2c;
  border: 1px solid #EF7F19;
  color: #ffffff;
  border-radius: 3px !important;
  padding: 8px;
  display: block;
}
body .user-content .form-actions .submit-btn:hover {
  background-color: #EF7F19;
  color: #ffffff;
  text-decoration: none;
}
body .user-content .form-actions .close-btn {
  width: 100%;
  text-decoration: none;
  background-color: #485A6A;
  border: 1px solid #3F444A;
  color: #ffffff;
  border-radius: 3px !important;
  padding: 6px;
  margin-right: 5px;
  display: block;
}
body .user-content .form-actions .close-btn:hover {
  background-color: #3F444A;
  color: #ffffff;
  text-decoration: none;
}

#chartdiv {
  width: 100%;
  height: 500px;
  max-width: 100%;
}

#dropchart {
  width: 100%;
  height: 500px;
  max-width: 100%;
}

.page-title .title {
  font-size: 18px;
  font-weight: 400;
  color: #EF7F19;
  margin: 0 0 20px 0;
}

.portlet-title .widget-thumb-click {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.portlet-title .widget-thumb-click:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.portlet-title .widget-thumb-click .widget-thumb {
  position: relative;
  padding-bottom: 50px;
}
.portlet-title .widget-thumb-click .widget-thumb .widget-thumb-wrap {
  display: flex;
  justify-content: space-between;
}
.portlet-title .widget-thumb-click .widget-thumb .widget-thumb-wrap .widget-thumb-body-stat {
  font-size: 48px;
}
.portlet-title .widget-thumb-click .widget-thumb .widget-thumb-wrap .widget-thumb-body-stat .unit {
  font-size: 18px;
}
.portlet-title .widget-thumb-click .widget-thumb .widget-thumb-heading {
  font-size: 16px;
  font-weight: 400;
  color: #3F444A;
}
.portlet-title .widget-thumb-click .bg-orange {
  background-color: #fbdbbc;
}
.portlet-title .widget-thumb-click .bg-green-jungle {
  background-color: #c1ecba;
}
.portlet-title .widget-thumb-click .bg-red {
  background-color: #edb8a8;
}
.portlet-title .widget-thumb-click .go-btn {
  position: absolute;
  display: block;
  width: 100%;
  height: 35px;
  bottom: 0;
  left: 0;
  border: 1px solid #EF7F19;
  border-radius: 0 0 3px 3px !important;
  background-color: #f28c2c;
  text-decoration: none;
}
.portlet-title .widget-thumb-click .go-btn:hover {
  background-color: #EF7F19;
}
.portlet-title .widget-thumb-click .go-btn .title {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -50%);
}
.portlet-title .caption .caption-subject {
  font-size: 14px;
  font-weight: 300;
  color: #485A6A;
}
.portlet-title .tools button {
  border: transparent;
}
.portlet-title .tools button img {
  width: 20px;
  height: 20px;
}

.portlet-body table thead .scenario {
  width: 150px;
}
.portlet-body table tbody tr td {
  vertical-align: middle;
}
.portlet-body table tbody tr td .customer {
  display: flex;
  align-items: center;
}
.portlet-body table tbody tr td .customer .contact {
  margin-left: 10px;
}
.portlet-body table tbody tr td .customer .contact .contact-name {
  font-size: 14px;
  font-weight: 400;
}
.portlet-body table tbody tr td .customer .contact .item-label {
  font-size: 12px;
}
.portlet-body table tbody tr td .dialogue-content .time {
  font-size: 12px;
}
.portlet-body table tbody tr td .dialogue-content p {
  margin: 10px 0;
}
.portlet-body table tbody tr td .label-robot {
  background-color: #EF7F19;
}
.portlet-body table tbody tr td .assign {
  display: flex;
}
.portlet-body table tbody tr td .assign .reply-btn {
  display: block;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 8px;
  margin-right: 5px;
  background-color: #42BDEA;
  border: 1px solid #34B0DD;
  border-radius: 3px !important;
  color: #ffffff;
  text-decoration: none;
}
.portlet-body table tbody tr td .assign .reply-btn:hover {
  background-color: #34B0DD;
  color: #ffffff;
  text-decoration: none;
}

.caption .caption-subject {
  font-size: 14px;
  font-weight: 400;
  color: #3F444A;
}

.actions .form-inline {
  display: flex;
  align-items: center;
}

.search-btn {
  font-size: 14px;
  font-weight: 400;
  padding: 6px;
  background-color: #42BDEA;
  border: 1px solid #34B0DD;
  border-radius: 3px !important;
  color: #ffffff;
}
.search-btn:hover {
  background-color: #34B0DD;
}

.add-btn, .import-btn {
  text-decoration: none;
  background-color: #f28c2c;
  border: 1px solid #EF7F19;
  color: #ffffff;
  border-radius: 3px !important;
  padding: 6px 12px;
  margin-right: 5px;
  display: block;
}
.add-btn:hover, .import-btn:hover {
  background-color: #EF7F19;
  color: #ffffff;
  text-decoration: none;
}

.edit-btn {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 6px;
  background-color: #42BDEA;
  border: 1px solid #34B0DD;
  border-radius: 3px !important;
  color: #ffffff;
  text-decoration: none;
}
.edit-btn:hover {
  background-color: #34B0DD;
  color: #ffffff;
  text-decoration: none;
}

.delet-btn {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 6px;
  background-color: #D0522C;
  border: 1px solid #BF4925;
  border-radius: 3px !important;
  color: #ffffff;
  text-decoration: none;
}
.delet-btn:hover {
  background-color: #BF4925;
  color: #ffffff;
  text-decoration: none;
}

.tag {
  background-color: #485A6A;
  padding: 4px 6px;
  color: #ffffff;
  border-radius: 3px !important;
}

table thead .feature {
  width: 300px;
  text-align: center;
}

.dialogue-section .dialogue-head {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  background-color: #E0EAFF;
  padding: 15px;
}
.dialogue-section .dialogue-head .real-time {
  text-align: center;
  background-color: rgba(102, 102, 102, 0.127);
  color: #ffffff;
  display: block;
  margin: 0 auto;
  width: 8%;
  padding: 4px 6px;
  border-radius: 50px !important;
}
.dialogue-section .dialogue-head .request-dialogue {
  margin: 20px 0;
}
.dialogue-section .dialogue-head .request-dialogue .user {
  display: flex;
  align-items: flex-start;
}
.dialogue-section .dialogue-head .request-dialogue .user .user-avatar {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.dialogue-section .dialogue-head .request-dialogue .user .dialogue-content {
  background-color: #ffffff;
  color: #3F444A;
  padding: 15px;
  border-radius: 10px !important;
  position: relative;
  max-width: 34%;
}
.dialogue-section .dialogue-head .request-dialogue .user .dialogue-content::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 20%;
  left: -10px;
  border-style: solid;
  border-width: 7.5px 13px 7.5px 0;
  border-color: transparent #ffffff transparent transparent;
}
.dialogue-section .dialogue-head .request-dialogue .user .dialogue-content p {
  margin: 0;
}
.dialogue-section .dialogue-head .request-dialogue .user .dialogue-time {
  align-self: flex-end;
  font-size: 12px;
  margin-left: 15px;
}
.dialogue-section .dialogue-head .response-dialogue .user .user-avatar {
  width: 50px;
  height: 50px;
  float: right;
  margin-left: 15px;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 20px 65px 0 0;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-content {
  background-color: #ffffff;
  color: #3F444A;
  padding: 15px;
  border-radius: 10px !important;
  position: relative;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-content::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 20%;
  right: -10px;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13px;
  border-color: transparent transparent transparent #ffffff;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-content p {
  margin: 0;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-content .dialogue-info {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-content .dialogue-info .activity {
  border-left: 2px solid #BEBEBE;
  padding-left: 10px;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-content .dialogue-info .activity .title {
  font-size: 16px;
  font-weight: 700;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-content .dialogue-info .activity .content p {
  margin: 5px 15px 0 0;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-content .dialogue-info .thumbnail img {
  max-width: 100px;
  height: 100%;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-text {
  background-color: #ffffff;
  color: #3F444A;
  padding: 15px;
  border-radius: 10px !important;
  position: relative;
  max-width: 34%;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-text p {
  margin: 0;
}
.dialogue-section .dialogue-head .response-dialogue .user .dialogue .dialogue-time {
  align-self: flex-end;
  font-size: 12px;
  margin-right: 15px;
}
.dialogue-section .dialogue-body {
  width: 100%;
  height: 20vh;
  background-color: #ffffff;
}
.dialogue-section .dialogue-body .message-content {
  padding: 20px;
  display: flex;
}
.dialogue-section .dialogue-body .message-content .message-send {
  width: 90%;
  position: relative;
}
.dialogue-section .dialogue-body .message-content .message-send .message-input-actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px;
  cursor: pointer;
}
.dialogue-section .dialogue-body .message-content .message-feature {
  width: 10%;
}
.dialogue-section .dialogue-body .message-content .message-feature .send {
  padding: 0 0 0 20px;
  margin-bottom: 10px;
}
.dialogue-section .dialogue-body .message-content .message-feature .send .submit-btn {
  width: 100%;
  text-decoration: none;
  background-color: #f28c2c;
  border: 1px solid #EF7F19;
  color: #ffffff;
  border-radius: 3px !important;
  padding: 6px;
  margin-right: 5px;
  display: block;
}
.dialogue-section .dialogue-body .message-content .message-feature .send .submit-btn:hover {
  background-color: #EF7F19;
  color: #ffffff;
  text-decoration: none;
}
.dialogue-section .dialogue-body .message-content .message-feature .customer-turn {
  padding: 0 0 0 20px;
}
.dialogue-section .dialogue-body .message-content .message-feature .customer-turn .refer-btn {
  width: 100%;
  text-decoration: none;
  background-color: #42BDEA;
  border: 1px solid #34B0DD;
  color: #ffffff;
  border-radius: 3px !important;
  padding: 6px;
  margin-right: 5px;
  display: block;
}
.dialogue-section .dialogue-body .message-content .message-feature .customer-turn .refer-btn:hover {
  background-color: #34B0DD;
  color: #ffffff;
  text-decoration: none;
}

.feature-section {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 18px;
}
.feature-section .portlet-title .caption .media {
  display: flex;
  align-items: center;
}
.feature-section .portlet-title .caption .media .media-object {
  margin-right: 10px;
}
.feature-section .portlet-title .caption .media .media-heading {
  font-size: 16px;
  font-weight: 400;
}
.feature-section .portlet-body .icon-btn {
  width: 100%;
}
.feature-section .portlet-body .list-items {
  border-bottom: 1px solid #eee;
  margin: 15px 0;
  padding: 0 0 15px 0;
}
.feature-section .portlet-body .list-items .info {
  display: inline-block;
  width: 70px;
}
.feature-section .feature-btn {
  display: flex;
  justify-content: flex-end;
}
.feature-section .feature-btn .return-btn {
  width: 25%;
  text-decoration: none;
  background-color: #485A6A;
  border: 1px solid #3F444A;
  color: #ffffff;
  border-radius: 3px !important;
  padding: 6px;
  margin-right: 5px;
  display: block;
}
.feature-section .feature-btn .return-btn:hover {
  background-color: #3F444A;
  color: #ffffff;
  text-decoration: none;
}
.feature-section .feature-btn .submit-btn {
  width: 25%;
  text-decoration: none;
  background-color: #f28c2c;
  border: 1px solid #EF7F19;
  color: #ffffff;
  border-radius: 3px !important;
  padding: 6px;
  margin-right: 5px;
  display: block;
}
.feature-section .feature-btn .submit-btn:hover {
  background-color: #EF7F19;
  color: #ffffff;
  text-decoration: none;
}

.modal .modal-header .modal-title {
  font-size: 16px;
  font-weight: 400;
}
.modal .modal-body {
  padding: 20px;
}
.modal .modal-body .media-content .media {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
  margin-top: 20px;
}
.modal .modal-body .media-content .media .media-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}
.modal .modal-body .media-content .media .media-info .media-title {
  display: flex;
  align-items: center;
}
.modal .modal-body .dialogue-content .dialogue {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
  margin-top: 20px;
}
.modal .modal-body .dialogue-content .dialogue .dialogue-info {
  padding: 15px;
}
.modal .modal-body .dialogue-content .dialogue .dialogue-info .source {
  display: flex;
  align-items: flex-start;
}
.modal .modal-body .dialogue-content .dialogue .dialogue-info .source p {
  margin: 0;
}
.modal .modal-body .dialogue-content .dialogue .dialogue-info .source p a {
  display: block;
  width: 100%;
}
.modal .modal-body .dialogue-content .dialogue .dialogue-info .activity {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}
.modal .modal-body .dialogue-content .dialogue .dialogue-info .activity .activity-content {
  margin-left: 20px;
}
.modal .modal-body .dialogue-content .dialogue .dialogue-info .activity .activity-content .title {
  font-size: 16px;
  font-weight: 700;
}
.modal .modal-body .dialogue-content .dialogue .dialogue-info .activity .activity-content p {
  margin: 5px 15px 0 0;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.modal .modal-body .dialogue-content .dialogue .dialogue-info .activity .thumbnail img {
  max-width: 100px;
}
.modal .modal-body .btn-file {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 8px;
  background-color: #42BDEA;
  border: 1px solid #34B0DD;
  border-radius: 3px !important;
  color: #ffffff;
  text-decoration: none;
}
.modal .modal-body .btn-file:hover {
  background-color: #34B0DD;
  color: #ffffff;
  text-decoration: none;
}
.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
}
.modal .modal-footer .close-btn {
  width: 10%;
  text-decoration: none;
  background-color: #485A6A;
  border: 1px solid #3F444A;
  color: #ffffff;
  border-radius: 3px !important;
  padding: 6px;
  margin-right: 5px;
  display: block;
}
.modal .modal-footer .close-btn:hover {
  background-color: #3F444A;
  color: #ffffff;
  text-decoration: none;
}
.modal .modal-footer .submit-btn {
  width: 10%;
  text-decoration: none;
  background-color: #f28c2c;
  border: 1px solid #EF7F19;
  color: #ffffff;
  border-radius: 3px !important;
  padding: 6px;
  margin-right: 5px;
  display: block;
}
.modal .modal-footer .submit-btn:hover {
  background-color: #EF7F19;
  color: #ffffff;
  text-decoration: none;
}

.emojionearea .emojionearea-editor {
  min-height: 400px !important;
}/*# sourceMappingURL=style.css.map */